.card {
  position: relative;
}

.card > div {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.2s ease-in;
}

.card > div.flipped {
  transform: rotateY(180deg);
}

.card .front,
.card .back {
  width: 100%;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card .front {
  position: absolute;
  transform: rotateY(180deg);
}

.card img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
